@media only screen and (max-width: 1050px){
	aside.main{
		left: -30%;
		padding-right: 10%;
		width: 40%;
		z-index: 100;
		@include transition(left 300ms, padding-right 300ms);
		&.clicked{
			padding-right: 0;
			left: 0;
		}
	}
	main{
		width: 90%;
	}
	section.hero hgroup{
		width: 90%;
	}
	.mobileMenu{
		display: block;
	}
}

@media only screen and (max-width: 900px){
	article.portfolioSingle{
		margin-left: 1%;
		margin-right: 1%;
		[class*='col-']{
			width: 100%;
			float: none;
			padding: 0;
		}
	}
}

@media only screen and (max-width: 768px){
	[class*='col-']{
		width: 100%;
		float: none;
	}
	figure.portfolio-item{
		figcaption{
			position: relative;
			@include transform(none);
			opacity: 1;
			padding: 5%;
		}
		&:hover{
			@include transform(none);
			figcaption{
				
			}
			img{
				@include transform(none);
			}
		}
	}
	aside.main{
		width: 80%;
		left: -70%
	}
	.mobileMenu{
		right: 3%;
	}
}

@media only screen and (max-width: 600px){
	aside.main{
		left: -80%;
	}
	main{
		width: 100%;
	}
	section.hero hgroup{
		width: 100%;
	}
	.mobileMenuHolder{
		position: absolute;
		width: 130%;
		height: 50px;
		right: -130%;
		top: 0;
		background: $mainColor;
		.mobileMenu{
			top: 5px;
			left: 10px;
			right: auto;
		}
	}
	.clicked .mobileMenuHolder{
		right: -155%;
		.mobileMenu{
			left: -32%;
		}
	}
}

@media only screen and (max-width: 400px){
	aside.main {
		left: auto;
		right: 100%;
	}
}
