//settings//

$mainColor: #243f50;
$lightMain: lighten($mainColor, 10%);
$darkMain: darken($mainColor, 10%);
$white: #ffffff;
$black: #000000;
$lightGray: darken($white, 10%);
$fontColor: #444444;

$singlePad: 8%;
$padOffset: 2%;