//styles//

// General Styles //
html{
	font-size: 62.5%; //set to base 10px
}

body{
	font-family: $bodyFont;
	background: $lightGray;
	@include font-size($bodyFontSize);
}

main{
	width: 70%;
	float: right;
}

//sidebar
aside.main{
	background: $mainColor;
	width: 30%;
	height: 100%;
	min-width: 300px;
	position: fixed;
	padding: 3% 2.5%;
	box-sizing: border-box;
	img.logo{
		display: block;
		margin: 0 auto;
	}
}

.tagline{
	margin: 10% 0;
	text-align: center;
	li{
		display: inline;
		color: $white;
		padding: 0 5px;
		border-right: 1px solid $white;
		&.right{
			border-right: none;
		}
	}
}

.menu{
	li{
		padding: 13px 0;
		text-align: center;
		a{
			color: $white;
			font-size: 1.5em;
			text-decoration: none;
		}
	}
}

//homepage
section.hero{
	width: 100%;
	min-height: 400px;;
	display: block;
	height: 100%;
	@include background-size(cover);
	background-position: center center;
}

//portfolio grid
figure.portfolio-item{
	position: relative;
	overflow: hidden;
	img{
		max-width: 100%;
		height: auto;
		@include transition(transform 400ms);
	}
	figcaption{
		position: absolute;
		width: 100%;
		background: $mainColor;
		color: $white;
		top: auto;
		bottom: 0;
		opacity: 0;
		padding: 10%;
		z-index: 10;
		@include transform( translateY(100%) );
		@include transition(transform 400ms, opacity 400ms);
		span{
			@include font-size(1.4);
		}
	}
}
figure.portfolio-item:hover{
	img{
		@include transform( translateY(-50px) );
	}
	figcaption{
		opacity: 1;
		@include transform( translateY(0) );
	}
}
